<%-include("../adminlayouts/header.ejs")-%>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 100px;
        text-align: center;
    }

    h1 {
        font-size: 10rem;
        color: #e74c3c;
    }

    p {
        font-size: 1.5rem;
        color: #777;
    }
</style>
<div class="container">
    <h1>500 Internal Server Error</h1>
    <p>Oops! Something went wrong on our end. We're working to fix it as soon as possible.</p>
</div>

<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<%-include("../adminlayouts/footer.ejs")-%>