<%-include("../userlayouts/header.ejs")-%>

			


			<div id="site-main" class="site-main">
				<div id="main-content" class="main-content">
					<div id="primary" class="content-area">
						<div id="content" class="site-content" role="main">
							<div class="section-padding">
								<div class="section-container p-l-r">
									<div class="page-404">
										<div class="content-page-404">
											<div class="title-error">
												500 	
											</div>
											<div class="sub-title">
												Error - Internal Server Error	
											</div>
											<div class="sub-error">
												<h5>Sorry, something went wrong on our end.</h5>	
											</div>
											<!-- <a class="button" href="index.html">
												Back The Homepage		
											</a> -->
										</div>
									</div>
								</div>
							</div>
						</div><!-- #content -->
					</div><!-- #primary -->
				</div><!-- #main-content -->
			</div>
            

			<%-include("../userlayouts/footer.ejs")-%>		

			
		