<%-include("../userlayouts/header.ejs")-%>

<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Frequently Asked Questions
						</h1>
					</div>
					<div class="breadcrumbs">
						<a href="/">Home</a><span class="delimiter"></span>Frequently Asked Questions
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="section-padding">
					<div class="section-container p-l-r">
						<div class="page-faq">
							<div class="row">
								<div class="col-md-6">
									<div class="faq-section">
										<div class="section-title">
											<h2>01. The order</h2>
										</div>
										<div class="section-content">
											<div class="faq-item">
												<div class="faq-question">
													When do I receive my order?
												</div>
												<div class="faq-answer">
													When placing the order, a day of shipment is indicated. After the
													order has been placed, the same delivery time will also be stated on
													the order confirmation. It is therefore never possible that during
													the order, the shipping day on the website, is different than on the
													order confirmation.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													I now see the longer delivery time of (a part of) my order. How can
													I cancel it?
												</div>
												<div class="faq-answer">
													If the order has a longer delivery time than you had previously
													seen, it is of course possible to cancel (a part of) the order. For
													this you can contact our customer service. They will cancel the
													order for you. The purchase amount will be back on your bank account
													within two working days. When an order has already been shipped, it
													can no longer be cancelled.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													When will I receive the invoice for my order?
												</div>
												<div class="faq-answer">
													When you have paid for the order, you will not automatically receive
													an invoice for your order. If you wish to receive an invoice, this
													can be done in two ways.The first way is through your account at our
													store. When you log in to your account you can see your orders and
													download the invoice.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="faq-section">
										<div class="section-title">
											<h2>02. Shipment</h2>
										</div>
										<div class="section-content">
											<div class="faq-item">
												<div class="faq-question">
													When do I receive my order?
												</div>
												<div class="faq-answer">
													When placing the order, a day of shipment is indicated. After the
													order has been placed, the same delivery time will also be stated on
													the order confirmation. It is therefore never possible that during
													the order, the shipping day on the website, is different than on the
													order confirmation.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													I now see the longer delivery time of (a part of) my order. How can
													I cancel it?
												</div>
												<div class="faq-answer">
													If the order has a longer delivery time than you had previously
													seen, it is of course possible to cancel (a part of) the order. For
													this you can contact our customer service. They will cancel the
													order for you. The purchase amount will be back on your bank account
													within two working days. When an order has already been shipped, it
													can no longer be cancelled.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													When will I receive the invoice for my order?
												</div>
												<div class="faq-answer">
													When you have paid for the order, you will not automatically receive
													an invoice for your order. If you wish to receive an invoice, this
													can be done in two ways.The first way is through your account at our
													store. When you log in to your account you can see your orders and
													download the invoice.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="faq-section">
										<div class="section-title">
											<h2>03. The order</h2>
										</div>
										<div class="section-content">
											<div class="faq-item">
												<div class="faq-question">
													When do I receive my order?
												</div>
												<div class="faq-answer">
													When placing the order, a day of shipment is indicated. After the
													order has been placed, the same delivery time will also be stated on
													the order confirmation. It is therefore never possible that during
													the order, the shipping day on the website, is different than on the
													order confirmation.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													I now see the longer delivery time of (a part of) my order. How can
													I cancel it?
												</div>
												<div class="faq-answer">
													If the order has a longer delivery time than you had previously
													seen, it is of course possible to cancel (a part of) the order. For
													this you can contact our customer service. They will cancel the
													order for you. The purchase amount will be back on your bank account
													within two working days. When an order has already been shipped, it
													can no longer be cancelled.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													When will I receive the invoice for my order?
												</div>
												<div class="faq-answer">
													When you have paid for the order, you will not automatically receive
													an invoice for your order. If you wish to receive an invoice, this
													can be done in two ways.The first way is through your account at our
													store. When you log in to your account you can see your orders and
													download the invoice.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="faq-section">
										<div class="section-title">
											<h2>04. Returns, exchanges and complaints</h2>
										</div>
										<div class="section-content">
											<div class="faq-item">
												<div class="faq-question">
													When do I receive my order?
												</div>
												<div class="faq-answer">
													When placing the order, a day of shipment is indicated. After the
													order has been placed, the same delivery time will also be stated on
													the order confirmation. It is therefore never possible that during
													the order, the shipping day on the website, is different than on the
													order confirmation.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													I now see the longer delivery time of (a part of) my order. How can
													I cancel it?
												</div>
												<div class="faq-answer">
													If the order has a longer delivery time than you had previously
													seen, it is of course possible to cancel (a part of) the order. For
													this you can contact our customer service. They will cancel the
													order for you. The purchase amount will be back on your bank account
													within two working days. When an order has already been shipped, it
													can no longer be cancelled.
												</div>
											</div>
											<div class="faq-item">
												<div class="faq-question">
													When will I receive the invoice for my order?
												</div>
												<div class="faq-answer">
													When you have paid for the order, you will not automatically receive
													an invoice for your order. If you wish to receive an invoice, this
													can be done in two ways.The first way is through your account at our
													store. When you log in to your account you can see your orders and
													download the invoice.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>
<%-include("../userlayouts/footer.ejs")-%>