

<%-include("../layouts/header.ejs")-%>
<div class="wrapper">
    <div class="inner">
        <img src="images/image-1.png" alt="" class="image-1">
        <form action="">
            <h1>Zudio</h1>
            <div class="form-holder">
                <span class="lnr lnr-user"></span>
                <!-- <input type="text" class="form-control" placeholder="Username"> -->
            </div>
            <div class="form-holder">
                <span class="lnr lnr-phone-handset"></span>
                <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
            </div>
            <div class="form-holder">
                <span class="lnr lnr-envelope"></span>
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <!-- <input type="password" class="form-control" placeholder="Confirm Password"> -->
            </div>
            <button>
                <span>Login</span>
            </button>
            <div class="text-center p-t-115">
                <span class="txt1">
                    Don’t have an account?
                </span>

                <a class="txt2" href="/signup">
                    Sign Up
                </a>
            </div>
        </form>
        <img src="images/image-2.png" alt="" class="image-2">
    </div>
    
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>

<%-include("../layouts/footer.ejs")-%>