<%-include("../userlayouts/header.ejs")-%>


		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									Register
								</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">Home</a>
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-login-register">
									<div class="row justify-content-center">






										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="box-form-login">
												<h2 class="register">Register</h2>
												<div class="box-content">
													<div class="form-register">








														<form method="post" class="register" action="/signup"
															onsubmit="return validRegister()">
															
															<% if (message) { %>
																<p id="errorMessage" class="error-message">
																	<%= message %>
																</p>
																<script>
																	// JavaScript code to hide the error message after 3 seconds
																	setTimeout(function () {
																		var errorMessage = document.getElementById('errorMessage');
																		if (errorMessage) {
																			errorMessage.style.display = 'none';
																		}
																	}, 5000);
																</script>
																<% } %>

																	<div class="username">
																		<label>Username <span
																				class="required">*</span></label>
																		<input type="text" class="input-text"
																			name="username" id="username">
																		<p id="username-error" class="error-message">
																		</p>
																	</div>

																	<div class="email">
																		<label>Email address <span
																				class="required">*</span></label>
																		<input type="email" class="input-text"
																			name="email" id="email">
																		<p id="email-error" class="error-message"></p>
																	</div>

																	<div class="username">
																		<label>Mobile <span
																				class="required">*</span></label>
																		<input type="tel" class="input-text"
																			name="mobile" id="mobile">
																		<p id="mobile-error" class="error-message"></p>
																	</div>

																	<div class="password">
																		<label>Password <span
																				class="required">*</span></label>
																		<input type="password" class="input-text"
																			name="password" id="password">
																		<p id="password-error" class="error-message">
																		</p>
																	</div>

																	<div class="password">
																		<label>Confirm Password <span
																				class="required">*</span></label>
																		<input type="password" class="input-text"
																			name="cpassword" id="cpassword">
																		<p id="password-mismatch" class="error-message">
																		</p>

																	</div>
																	<div class="referral-code">
																		<label>Referral Code (Optional)</label>
																		<input type="text" class="input-text"
																			name="referralCode" id="referralCode">
																	</div>

																	<div class="button-register">
																		<input type="submit" class="button"
																			name="register" value="Register">
																	</div>
														</form>




													</div>
												</div>
											</div>
										</div>






									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<script>
			function validRegister() {
				const username = document.getElementById('username').value;
				const email = document.getElementById('email').value;
				const mobile = document.getElementById('mobile').value;
				const password = document.getElementById('password').value;
				const cpassword = document.getElementById('cpassword').value;
	
				document.getElementById('username-error').textContent = '';
				document.getElementById('email-error').textContent = '';
				document.getElementById('mobile-error').textContent = '';
				document.getElementById('password-error').textContent = '';
				document.getElementById('password-mismatch').textContent = '';
	
				// Validate username
				if (!username) {
					document.getElementById('username-error').textContent = 'Username should not be empty!';
					return false;
				}
				const numericRegex = /^\d+$/;
				if (numericRegex.test(username)) {
					document.getElementById('username-error').textContent = 'Username should not consist only of numbers.';
					return false;
				}
				// Validate email
				const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
				if (!email || !emailRegex.test(email)) {
					document.getElementById('email-error').textContent = 'Enter a valid email address.';
					return false;
				}
	
				// Validate mobile
				const mobileRegex = /^[6-9]\d{9}$/;
				if (!mobile || !mobileRegex.test(mobile)) {
					document.getElementById('mobile-error').textContent = 'Mobile number should be a 10-digit valid number';
					return false;
				}
	
				// Validate password
				if (!password || password.length < 6) {
					document.getElementById('password-error').textContent = 'Password should be at least 6 characters long.';
					return false;
				}
	
				// Validate password match
				if (password !== cpassword) {
					document.getElementById('password-mismatch').textContent = 'Passwords do not match.';
					return false;
				}
	
				return true; // Return true if validation passes, false otherwise
			}
		</script>
	
		<style>
			.error-message {
				color: red;
			}
		</style>

<%-include("../userlayouts/footer.ejs")-%>