<%-include("../userlayouts/header.ejs")-%>


		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">Add Money to Wallet</h1>
							</div>
							<div class="breadcrumbs">
								<a href="/">Home</a>
							</div>
						</div>
					</div>

					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-login-register">
									<div class="row justify-content-center">
										<div class="col-lg-6 col-md-6 col-sm-12 sm-m-b-50">
											<div class="box-form-login">
												<h2>Add Money to Wallet</h2>
												<div class="box-content">
													<div class="form-login">

														<!-- <form method="post" class="login"
															onsubmit="addMoney(event); return false;">
															<div class="username">
																<label>amount
																	<span class="required">*</span></label>
																<input type="text" class="input-text" name="email"
																	id="amount" />
															</div>
															<div class="rememberme-lost justify-content-center">
																<div class="button-register">
																	<button type="submit" class="btn-add-to-cart"
																	style="width: 100%; background-color: black; color: white;">
																		Add Money
																	</button>
																</div>
															</div>
														</form> -->

														<form method="post" class="login" onsubmit="addMoney(event);">
															<div class="username">
															  <label>amount <span class="required">*</span></label>
															  <input type="text" class="input-text" name="amount" id="amount" />
															  <span id="amount-error" class="error-message"></span>
															</div>
														  
															<div class="rememberme-lost justify-content-center">
															  <div class="button-register">
																<button type="submit" class="btn-add-to-cart" style="width: 100%; background-color: black; color: white;">
																  Add Money
																</button>
															  </div>
															</div>
														  </form>

													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- #content -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #main-content -->
		</div>
		<style>
			.error-message {
			  color: red;
			  font-size: 14px;
			  margin-top: 5px; /* Adjust as needed */
			}
		  </style>

		<script>
			function validAddMoney() {
			  const amount = document.getElementById('amount').value;
			  const amountError = document.getElementById('amount-error');
		  
			  amountError.textContent = '';
		  
			  // Validate amount
			  const numericRegex = /^[0-9]+$/;
			  const amountValue = parseInt(amount, 10);
		  
			  if (!amount || !numericRegex.test(amount) || amountValue <= 0) {
				amountError.textContent = 'Enter a valid positive number greater than 0 for the amount.';
				return false;
			  }
		  
			  if (amountValue > 50000) {
				amountError.textContent = 'Amount should not exceed 50000.';
				return false;
			  }
		  
			  return true; // Return true if validation passes, false otherwise
			}
		  
			function addMoney(event) {
			  event.preventDefault(); // Prevent the form from submitting
			  var amount = document.getElementById("amount").value;
		  
			  if (validAddMoney(amount)) {
				var number = parseInt(amount, 10);
				addMoneyProcess(number);
			  }
			}
		  

	
	
			function addMoneyProcess(amount) {
				fetch("/add_wallet", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ amount: amount }),
				})
					.then((response) => response.json())
					.then((data) => {
						if (data.status === true) {
							razorpayPayment(data.order, amount);
						} else {
							console.log("Money added failed");
						}
					})
					.catch((error) => {
						console.error("An error occurred while adding money:", error);
					});
			}
			const razorpayKeyId = '<%= razorpayKeyId %>';
			function razorpayPayment(order, amount) {
				var options = {
					key: razorpayKeyId,
					amount: order.amount,
					currency: "INR",
					name: "Ruper",
					description: "Add Money to Wallet",
					image: "/public/usernew/media/logo.png",
					order_id: order.id,
					handler: function (response) {
						console.log("Payment ID:", response.razorpay_payment_id);
						console.log("Signature:", response.razorpay_signature);
						verifyPayment(response, order);
					},
					prefill: {
						name: "Ruper",
						email: "ruper@example.com",
						contact: "9847378466",
					},
					notes: {
						// Add any additional notes if needed
					},
					theme: {
						color: "#3399cc",
					},
				};
	
				var rzp = new Razorpay(options);
				rzp.open();
			}
	
			function verifyPayment(payment, order) {
				fetch("/verify_wallet", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ payment, order }),
				})
					.then((response) => response.json())
					.then((data) => {
						if (data.status === true) {
							Swal.fire({
								title: "Added Money to Wallet",
								icon: "success",
								timer: 3000,
								showConfirmButton: false,
							}).then(() => {
								window.location.href = "/profile";
							});
						} else {
							console.log("Payment verification failed");
						}
					})
					.catch((error) => {
						console.error("An error occurred while verifying payment:", error);
					});
			}
		</script>

<%-include("../userlayouts/footer.ejs")-%>