<footer id="site-footer" class="site-footer background">
    <div class="footer">
        <div class="section-padding">
            <div class="section-container">
                <div class="block-widget-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="block block-menu m-b-20">
                                <h2 class="block-title">Contact Us</h2>
                                <div class="block-content">
                                    <ul>
                                        <li>
                                            <a href="/contact">616.774.0561</a>
                                        </li>
                                        <li>
                                            <a href="/contact">866.453.4748</a>
                                        </li>
                                        <li>
                                            <a href="/contact">HR Fax: 810.222.5439</a>
                                        </li>
                                        <li>
                                            <a href="/contact">sales@ruperfurniture.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="block block-social">
                                <ul class="social-link">
                                    <li><a><i class="fa fa-twitter"></i></a></li>
                                    <li><a><i class="fa fa-instagram"></i></a></li>
                                    <li><a><i class="fa fa-dribbble"></i></a></li>
                                    <li><a><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="block block-menu">
                                <h2 class="block-title">Showroom</h2>
                                <div class="block-content">
                                    <p>1000 84th Street SW , Byron Center, MI 49315</p>
                                    <p>AmericasMart Bldg. #1</p>
                                    <p>Suite 5C-1, Atlanta, GA 30303</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="block block-menu">
                                <h2 class="block-title">Services</h2>
                                <div class="block-content">
                                    <ul>
                                        <li>
                                            <a href="/about">Sale</a>
                                        </li>
                                        <li>
                                            <a href="/about">Quick Ship</a>
                                        </li>
                                        <li>
                                            <a href="/about">New Designs</a>
                                        </li>
                                        <li>
                                            <a href="/about">Accidental Fabric Protection</a>
                                        </li>
                                        <li>
                                            <a href="/about">Furniture Care</a>
                                        </li>
                                        <li>
                                            <a href="/about">Gift Cards</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="block block-newsletter">
                                <h2 class="block-title">Newsletter</h2>
                                <div class="block-content">
                                    <div class="newsletter-text">Enter your email below to be the first to know
                                        about new collections and product launches.</div>
                                    <form action="#" method="post" class="newsletter-form">
                                        <input type="email" class="bg-white" name="your-email" value=""
                                            size="40" placeholder="Email address" disabled>
                                        <span class="btn-submit">
                                            <input type="submit" value="Subscribe" disabled>
                                        </span>
                                    </form>
                                </div>
                            </div>
                            <div class="block block-image">
                                <img width="309" height="32" src="/public/usernew/media/payments.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="section-padding">
            <div class="section-container">
                <div class="block-widget-wrap">
                    <p class="copyright text-center">Copyright © 2023. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!-- Back Top button -->
<div class="back-top button-show">
<i class="arrow_carrot-up"></i>
</div>


<!-- Page Loader -->
<div class="page-preloader">
<div class="loader">
    <div></div>
    <div></div>
</div>
</div>



<!-- Dependency Scripts -->
<script src="/public/usernew/libs/popper/js/popper.min.js"></script>
<script src="/public/usernew/libs/jquery/js/jquery.min.js"></script>
<script src="/public/usernew/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/usernew/libs/slick/js/slick.min.js"></script>
<script src="/public/usernew/libs/countdown/js/jquery.countdown.min.js"></script>
<script src="/public/usernew/libs/mmenu/js/jquery.mmenu.all.min.js"></script>
<script src="/public/usernew/libs/slider/js/tmpl.js"></script>
<script src="/public/usernew/libs/slider/js/jquery.dependClass-0.1.js"></script>
<script src="/public/usernew/libs/slider/js/draggable-0.1.js"></script>
<script src="/public/usernew/libs/slider/js/jquery.slider.js"></script>
<script src="/public/usernew/libs/elevatezoom/js/jquery.elevatezoom.js"></script>
<script src="/public/usernew/libs/select2/js/select2.min.js"></script>



<!-- Site Scripts -->
<script src="/public/usernew/assets/js/app.js"></script>
</body>

<!-- Mirrored from caketheme.com/html/ruper/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 09:38:22 GMT -->

</html>