<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/public/admin/js/material-dashboard.min.js?v=3.0.0"></script>
  <!--   Core JS Files   -->
  <script src="/public/admin/js/core/popper.min.js"></script>
  <script src="/public/admin/js/core/bootstrap.min.js"></script>
  <script src="/public/admin/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/public/admin/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/public/admin/js/plugins/chartjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




 
 
 
 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlTQMH5dosP+XBiCAJWmzA9szlJf8aWlxK+pzweWE00g5P" crossorigin="anonymous"></script>
 
 
 

</body>
</html>



 <!--   Core JS Files   -->
 